* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: poppins, sans-serif;
	scroll-behavior: smooth;
}

header {
	height: 90vh;
	width: 100%;
	overflow: hidden;
}

/* -------- NAVBAR -------- */

.navbar {
	display: flex;
	justify-content: space-around;
	flex-direction: row;
	align-items: center;
	padding: 10px 0;
}

.nav-logo {
	font-size: 1.5em;
}

.nav-logo a {
	text-decoration: none !important;
	color: #000;
}

.nav-actions {
	display: flex;
	align-items: center;
	justify-content: end;
	width: 200px;
}

.cart {
	width: 20px;
	margin-right: 30px;
	padding-top: 10px;
	cursor: pointer;
}

.profile {

	width: 35px;
	height: 35px;
	border-radius: 100%;
	overflow: hidden;
	text-align: center;
	align-items: center;
	align-content: center;
	cursor: pointer;
}

.profile-photo {
	max-width: 100%;
	max-height: 100%;
}

.dropdown {
	position: relative;
}

.dropdown-content {
	display: none;
	position: absolute;
	background-color: #fff;
	min-width: 100px;
	box-shadow: 2px 2px 15px -4px #6b6b6b;
	border-radius: 5px;
	z-index: 1;
}

.dropdown-content a {
	color: black;
	padding: 10px 16px;
	text-decoration: none;
	display: block;
	font-size: 0.9em;
}

.dropdown-content a:hover {
	background-color: rgb(231, 228, 228);
}

.dropdown:hover .dropdown-content {
	display: block;
}

.login-button {
	padding: 10px;
	text-decoration: none;
	color: #000;
	height: 100%;
	background-color: #fec260;
	border-radius: 10px;
}

/* -------- HERO -------- */

.hero {
	width: 100%;
	height: 100%;
	background-size: cover;
	background-position: left bottom;
}

.hero-text {
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.4);
	padding: 10%;
	position: relative;
}

.text-container {
	position: absolute;
	right: 10%;
	color: #fff;
	text-align: center;
}

.hero-text h1 {
	font-size: 4em;
	line-height: 60px;
	text-transform: uppercase;
	margin-bottom: 20px;
	border-radius: 30px;
}

span {
	letter-spacing: 3px;
}

.btn {
	padding: 10px;
	font-weight: 500;
	border-radius: 10px;
	cursor: pointer;
}

.hero-button {
	border: 1px solid white;
	color: #fff;
	background-color: unset;
	text-decoration: none;
}

/* -------- PRODUCTS -------- */

.section-header {
	text-align: center;
	padding: 20px;
	font-size: 1.3em;
	text-transform: uppercase;
	font-weight: 600;
}

.products-container {
	padding: 0 10%;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.product {
	width: 24%;
	border-radius: 10px;
	background-color: whitesmoke;
	box-shadow: 2px 2px 15px -4px #6b6b6b;
	margin: 5px;
}

.product-header {
	display: flex;
	justify-content: center;
	align-items: center;
	overflow: hidden;
	height: 300px;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
}

.product-image {
	width: 100%;
}

.product-body {
	position: relative;
	/* height: 125px; */
	display: flex;
	justify-content: space-between;
	align-items: flex-end;
	padding: 30px;
	/* border: 1px solid black; */
}

.product-body .price {
	font-size: 0.8em;
	font-weight: 700;
}

.product-body .title {
	display: flex;
	align-items: flex-end;
	font-size: 0.9em;
	text-transform: capitalize;
	height: 40px;
	/*border: 1px solid black;*/
}

.product-button {
	margin-left: 5px;
	display: flex;
	flex-direction: column;
	align-items: flex-end;
	/* border: 1px solid black; */
}

.product-info {
	width: 15px;
	position: absolute;
	top: 10px;
	right: 10px;
	cursor: pointer;
}

.cart-button {
	background-color: #fec260;
	border: unset;
	border-radius: 5px;
	padding: 5px;
}

/* -------- FOOTER -------- */

#footer {
	background-color: rgba(0, 0, 0, 0.9);
	margin-top: 30px;
}

.footer-container {
	display: flex;
	padding: 10% 10%;
	justify-content: space-between;
}

.footer-subscription {
	width: 40%;
	/* border: 1px solid #fff; */
}

.footer-subscription form {
	display: flex;
}

.footer-subscription input {
	padding: 10px;
}

.footer-subscription #email {
	width: 100%;
}

.footer-subscription .submit-button {
	font-weight: 500;
	cursor: pointer;
}

.subscription {
	color: #fff;
	text-align: left;
	padding: 0;
	line-height: 40px;
	/* border: 1px solid #fff; */
}

.subscription h3 {
	font-size: 2.5em;
	letter-spacing: 5px;
}

.footer-links {
	display: flex;
	justify-content: space-between;
	/* border: 1px solid #fff; */
}

.footer-links a {
	color: #fff;
	margin: 5px;
}

.social,
.pages {
	display: flex;
	flex-direction: column;
	margin: 0 15px;
}

/* -------- MEDIA QUERY -------- */

@media (max-width: 900px) {
	header {
		height: 50vh;
	}

	.dropdown-content {
    padding-top:10px}

	.text-container {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		position: static;
		margin: 30px auto;
		/* border: 1px solid #fff; */
	}

	.product {
		width: 30%;
	}
	.product-header {
		height: 250px;
	}

	.product-body {
		padding: 20px;
		font-size: 0.8em;
	}

	.product-button {
		margin-left: 5px;
	}
}

@media (max-width: 450px) {
	nav {
		position: fixed;
		width: 100%;
		z-index: 100;
		background-color: #fff;
	}

	.nav-logo {
		font-size: 1em;
	}

	header {
		height: 60vh;
	}

	.hero {
		background-position: left bottom;
	}

	.text-container {
		margin-top: 150px;
	}

	.products-container {
		padding: 0;
	}

	.product {
		width: 45%;
		/* border: 1px solid black; */
	}

	.product-body {
		padding: 10px;
		font-size: 0.8em;
	}

	.product-button {
		margin-left: 10px;
	}

	.product-info {
		top: 5px;
		right: 5px;
	}

	.footer-container {
		flex-direction: column;
	}

	.footer-subscription {
		width: 100%;
		margin-bottom: 20px;
	}

	.footer-subscription p {
		font-size: 0.7em;
	}

	.footer-subscription h3 {
		font-size: 2em;
	}

	.footer-links {
		justify-content: left;
	}
}
