<!DOCTYPE html >
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>BurgerQueen - Login</title>
		<link rel="stylesheet" href="css/login.css">
	</head>
	<body>
	<section class="navigation" id="navigation" ></section>


	<section id="login">
				<div class="container">
					<div class="header">
						<div class="title">
							<h1>Login</h1>
						</div>
						<form name="loginForm" class="form" method="post">
<!--							<p th:if="${errorMessage}" th:text="${errorM	essage}"></p>-->
							<label for="email"></label>
							<input type="email" id="email" name="username" placeholder="email"  required/>
							<label for="password"></label>
							<input type="password" id="password" name="password" placeholder="password" required/>
							<input class="btn" id="loginBtn" type="submit" value="Login" />
						</form>
					</div>
					<div class="register">
						<p>Not a member yet? <a href="register.html" class="signup">Signup</a></p>
					</div>
				</div>
			</section>

		<section id=footer"></section>



	<script>
		function login(){
			const request = new Request("data/login", {
				method: "POST",
				headers: {
					"Content-Type": "application/json",
					"Accept": "application/json"
				},
				body: JSON.stringify({
					email: document.getElementById("email").value,
					password: document.getElementById("password").value
				})
			});
			return fetch(request);
		}

		async function doLogin() {
			try {
				const promise = await login();
				const json = await promise.json();
				const token = json.data;
				document.cookie = `token=${token}`;
				console.log(document.cookie);
			}catch (error){
				console.error(error);
			}
		}

		document.getElementById("loginBtn").onclick = (ev) => {
			ev.preventDefault();
			doLogin();
			window.location.href = "index.html";
		};
	</script>
	</body>
</html>
