<!DOCTYPE html >
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>BurgerQueen - Login</title>
		<link rel="stylesheet" href="css/login.css">
	</head>
	<body>
	<section class="navigation" id="navigation" ></section>


	<section id="login">
				<div class="container">
					<div class="header">
						<div class="title">
							<h1>Login</h1>
						</div>
						<form name="loginForm" class="form" method="post">
<!--							<p th:if="${errorMessage}" th:text="${errorM	essage}"></p>-->
							<label for="email"></label>
							<input type="email" id="email" name="username" placeholder="email"  required/>
							<label for="password"></label>
							<input type="password" id="password" name="password" placeholder="password" required/>
							<input class="btn" id="loginBtn" type="submit" value="Login" />
						</form>
					</div>
					<div class="register">
						<p>Not a member yet? <a href="register.html" class="signup">Signup</a></p>
					</div>
				</div>
			</section>

		<section id=footer"></section>



	<script>



		function login(){
			const request = new Request("http://localhost:8080/auth", {
				method: "POST",
				headers: {
					"Content-Type": "application/json",
					"Accept": "application/json"
				},
				body: JSON.stringify({
					email: document.getElementById("email").value,
					password: document.getElementById("password").value
				})
			});

			return fetch(request);
		}

		document.getElementById("loginBtn").onclick = (ev) => {
			ev.preventDefault();

			const promise = login();
			promise.then((response) => {
				if (response.status === 200){
					console.log("Masuk nih")
					// Logic untuk nyimpen/store jwt token kedalam cookie
					const token = response.headers.get("Authorization");
					Document.cookies = `token=${token}`;
					console.log(Document.cookies.get("token")); // fail ini, cookienya masih belum ke store
					window.location.href = "index.html";
				}else {
					// logic to show error login failed
					console.info("Gagal Login");
				}
			});



		};
	</script>
	</body>
</html>
